{{outlet}}

<div class='body'>
  <div class='OnlineProjects'>
    <OnlineProjects @onlineProjects={{@model.onlineProjects}} />
  </div>
  <div class='FinancedProjects'>
    <FinancedProjects @financedProjects={{@model.financedProjects}} />
  </div>
</div>